*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: black;
  text-align: center;
}
    
.article {
  font-size: 50px;
  text-transform: uppercase;
}

.clockface {
 text-align: center;
 
}

.field{
  display: inline-block;
  padding: 20px;
  text-transform: uppercase;
}

.label{
  display: block;
   font-size: 35px;
}

.value {
    font-size: 45px;
}